<%#= render '/refinery/content_page' %>

<!-- <section id="welcome" class="hidden-xs hidden-sm">
<h3>Welcome to our new website</h3>
<p>More project updates coming daily.</p>
</section> -->


<div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
  <!-- Indicators -->
  
  <ol class="carousel-indicators">
    <% @page.images.each_with_index do |image, index| %>
    <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
    <!-- <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
    <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @page.images.each_with_index do |image, index| %>
      <div class="item <% if index == 0 %>active<% end %>">
        <div class="main-image" style="background-image:url(<%= image.url %>);"></div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>



<!-- </div> -->


<div id="buckets">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="well well-sm">
            <h3>News</h3>
            <%= link_to (image_tag 'contractors.jpg', class: 'img-responsive'), '/our-firm' %>
            <a href="/news"><small>See what's new at Wieser Brothers</small></a>
          </div>
      </div>
      <div class="col-md-3">
        <div class="well well-sm">
          <h3>Projects</h3>
          <%= link_to (image_tag 'hero_8918.jpg', class: 'img-responsive'), '/projects' %>
          <a href="/projects"><small>View our latest projects</small></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well well-sm" id="trust"> <!-- testimonial -->
          <h3>Trust</h3>
          <h3>Partnership</h3>
          <h3>Excellence</h3>
          <a href="/our-commitment"><small>Learn more</small></a>

        </div>
      </div>
      <div class="col-md-3">
        <div class="well well-sm"> <!-- plan room -->
          <h3>Plan Room</h3>
         <%= link_to (image_tag 'stock-purchased-35061700-home-350-150.png', class: 'img-responsive'), 'http://planroom.wieserbrothers.com' %>
          <a href="http://planroom.wieserbrothers.com"><small>Go to our Plan Room</small></a>

        </div>
      </div>
    </div>

  </div>
</div>



<section id="mission-statement">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">OUR MISSION</h2>
        <p class="text-center">To do more than just meet our customer’s current building needs; we believe our work must also support their future success.</p>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">OUR COMMITMENT</h2>
        <p class="text-center">Wieser Brothers is dedicated to building long-term customer relationships based on trust, partnership, and excellence.</p>
      </div>
    </div>
  </div>
</section>
