<div class="container" id="l2-main">
  <div class="row">
    <div class="col-md-12 hidden-xs hidden-sm">
      <%= child_sub_menu_pages.to_html %>
    </div>
    <div class="col-md-12 visible-xs visible-sm hidden-md hidden-lg">
      <%= child_sub_menu_pages_mobile.to_html %>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">



      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <h1><%= @page.title %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <% if @page.title == 'Employment Opportunities' %>
            <section id="emp-opp-links">
              <h3>Current Openings</h3>
              <%= @page.content_for(:emp_main_links) %>
            </section>
            <% end %>
          <%= @page.content_for(:body).html_safe %>          
          </div>
          <div class="col-md-6" id="sidebar">
            <% @page.images.each do |i| %>
              <%= image_tag i.url, class: 'img-responsive' %>
            <% end %>

            <blockquote><%= render '/refinery/testimonial' %></blockquote>

            <%= render '/refinery/address' %>

            

            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>



<%= render '/refinery/buckets' %>

