<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>
  <div class="row">
  <div class='inquiries col-md-8'>
    <%= form_for [refinery, :inquiries, @inquiry], html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>

      <div class="field form-group">
        <%= f.required_label :name, :class => 'col-md-2 control-label placeholder-fallback' %><!--   -->
        <div class="col-md-6">
        <%= f.text_field :name, :class => 'text form-control', :required => 'required', #text
          :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
        </div>
      </div>

      <div class="field form-group">
        <%= f.required_label :email, :class => 'placeholder-fallback col-md-2 control-label' %>
        <div class="col-md-6">
        <%= f.email_field :email, :class => 'text email form-control', :required => 'required',
          :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
        </div>
      </div>

      <% if Refinery::Inquiries.show_phone_number_field %>
        <div class="field form-group">
          <%= f.label :phone, :class => 'placeholder-fallback col-md-2 control-label' %>
          <div class="col-md-6">
          <%= f.text_field :phone, :class => 'text phone form-control',
            :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
          </div>
        </div>
      <% end %>

      <div class='field message_field form-group'>
        <%= f.required_label :message, :class => 'placeholder-fallback col-md-2 control-label' %>
        <div class="col-md-7">
        <%= f.text_area :message, :rows => 8, :required => 'required', :class => 'form-control',
          :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders %>
        </div>
      </div>
      
      <div class="actions form-group">
        <div class="col-md-offset-2 col-md-6">
        <%= f.submit t('.send'), style: 'color:#000000;' %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
<% end %>
<div class="container" id="l2-main">
<%= render "/refinery/content_page" %>
</div>
